@import "../../constants.scss";

.Footer {
    height: $footerHeight;
    box-sizing: unset;
    width: 100%;
    text-align: center;
    background-color:whitesmoke;
}

.Footer > :first-child {
    padding-top: $footerTopPadding;
}