.RecipeAvatar
{
    padding: 64px;
}

.RecipeAvatar p
{
    margin-bottom: 0;
}

.ItemSelector
{
    max-width: 500px;
}

.flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}