@import "./../../../constants.scss";

.EntityAvatar > *
{
    padding: 2px;
}

.EntityAvatar > img
{
    height: $entityIconHeight;
    width: $entityIconHeight;
}

.EntityAvatar p
{
    margin-bottom: 0;
}