@import "./../../../constants.scss";

.EntityAvatar > *
{
    padding: 2px;
}

.EntityAvatar > img
{
    height: $entityIconHeight;
    width: $entityIconHeight;
}

.EntityAvatar p
{
    margin-bottom: 0;
}

.EntityIcon h4
{
    margin-bottom: 16px;
    margin-top: 0;
}

.EntityIcon p
{
    margin-bottom: 12px;
    margin-top: 0;
}